<div class="tw-flex tw-flex-col {{ class }}">
    <label
        [ngStyle]="{ color: textColor }"
        [for]="inputId"
        class="{{ labelClass }} tw-mb-2"
    >
        {{ label }}<em *ngIf="required">*</em>
    </label>

    <p-calendar
        [formControl]="formControlInput"
        [id]="inputId"
        [placeholder]="placeholder ? placeholder : ''"
        [dateFormat]="dateFormat ? dateFormat : 'dd/mm/yy'"
        [showTime]="showTime ? showTime : false"
        [style]="{ width: '100%' }"
        [minDate]="minDate ? minDate : null"
        [maxDate]="maxDate ? maxDate : null"
        [disabled]="disable"
        [ngClass]="{
            error:
                formControlInput.invalid &&
                (formControlInput.dirty || formControlInput.touched)
        }"
        class="tw-w-full"
    ></p-calendar>

    <div *ngIf="formControlInput.invalid && showError">
        <app-input-errors
            [formControlInput]="formControlInput"
        ></app-input-errors>
    </div>
</div>
