<div class="tw-flex tw-flex-col {{ class }}">
    <label
        [ngStyle]="{ color: textColor }"
        [for]="inputId"
        class="{{ labelClass }} tw-mb-2"
        >{{ label }}<em *ngIf="required">*</em></label
    >

    <textarea
        pTextarea
        [id]="inputId"
        [name]="inputId"
        title="{{label}}"
        [attr.aria-label]="label"
        [placeholder]="placeholder ? placeholder : ''"
        [formControl]="formControlInput"
        [ngClass]="{
            error:
                formControlInput.invalid &&
                (formControlInput.dirty || formControlInput.touched)
        }"
    >
    </textarea>
    <div *ngIf="formControlInput.invalid && showError" class="tw-h-4">
        <app-input-errors
            [formControlInput]="formControlInput"
        ></app-input-errors>
    </div>
</div>
