.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.upload-label {
    font-size: 16px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-input {
    display: none; /* Ocultamos el input de archivo */
}

.image-preview {
    margin-top: 20px;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.image-preview button {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
